<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CEW</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BasicServlet</display-name>
    <servlet-name>BasicServlet</servlet-name>
    <servlet-class>net.cew.controller.BasicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BasicServlet</servlet-name>
    <url-pattern>/BasicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>net.cew.controller.LoginServlet</servlet-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>admin</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>admin</param-value>
    </init-param>
    <init-param>
      <param-name>name</param-name>
      <param-value>Admin</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerRegistrationServlet</display-name>
    <servlet-name>ManagerRegistrationServlet</servlet-name>
    <servlet-class>net.cew.controller.ManagerRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerRegistrationServlet</servlet-name>
    <url-pattern>/ManagerRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEventServlet</display-name>
    <servlet-name>AddEventServlet</servlet-name>
    <servlet-class>net.cew.controller.AddEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEventServlet</servlet-name>
    <url-pattern>/AddEventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewEventServlet</display-name>
    <servlet-name>ViewEventServlet</servlet-name>
    <servlet-class>net.cew.controller.ViewEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEventServlet</servlet-name>
    <url-pattern>/ViewEventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyEventServlet</display-name>
    <servlet-name>ModifyEventServlet</servlet-name>
    <servlet-class>net.cew.controller.ModifyEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyEventServlet</servlet-name>
    <url-pattern>/ModifyEventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEventServlet</display-name>
    <servlet-name>UpdateEventServlet</servlet-name>
    <servlet-class>net.cew.controller.UpdateEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEventServlet</servlet-name>
    <url-pattern>/UpdateEventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddVacancyServlet</display-name>
    <servlet-name>AddVacancyServlet</servlet-name>
    <servlet-class>net.cew.controller.AddVacancyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVacancyServlet</servlet-name>
    <url-pattern>/AddVacancyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewVacancyServlet</display-name>
    <servlet-name>ViewVacancyServlet</servlet-name>
    <servlet-class>net.cew.controller.ViewVacancyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewVacancyServlet</servlet-name>
    <url-pattern>/ViewVacancyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBulletinServlet</display-name>
    <servlet-name>AddBulletinServlet</servlet-name>
    <servlet-class>net.cew.controller.AddBulletinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBulletinServlet</servlet-name>
    <url-pattern>/AddBulletinServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeRegistrationServlet</display-name>
    <servlet-name>EmployeeRegistrationServlet</servlet-name>
    <servlet-class>net.cew.controller.EmployeeRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeRegistrationServlet</servlet-name>
    <url-pattern>/EmployeeRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMessageByAdminServlet</display-name>
    <servlet-name>SendMessageByAdminServlet</servlet-name>
    <servlet-class>net.cew.controller.SendMessageByAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMessageByAdminServlet</servlet-name>
    <url-pattern>/SendMessageByAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMessageSendByAdminServlet</display-name>
    <servlet-name>ViewMessageSendByAdminServlet</servlet-name>
    <servlet-class>net.cew.controller.ViewMessageSendByAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMessageSendByAdminServlet</servlet-name>
    <url-pattern>/ViewMessageSendByAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterAsBloodDonorByManagerServlet</display-name>
    <servlet-name>RegisterAsBloodDonorByManagerServlet</servlet-name>
    <servlet-class>net.cew.controller.RegisterAsBloodDonorByManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterAsBloodDonorByManagerServlet</servlet-name>
    <url-pattern>/RegisterAsBloodDonorByManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterAsBloodDonorByEmployeeServlet</display-name>
    <servlet-name>RegisterAsBloodDonorByEmployeeServlet</servlet-name>
    <servlet-class>net.cew.controller.RegisterAsBloodDonorByEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterAsBloodDonorByEmployeeServlet</servlet-name>
    <url-pattern>/RegisterAsBloodDonorByEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBloodDonorServlet</display-name>
    <servlet-name>ViewBloodDonorServlet</servlet-name>
    <servlet-class>net.cew.controller.ViewBloodDonorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBloodDonorServlet</servlet-name>
    <url-pattern>/ViewBloodDonorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyForLeaveByEmployeeServlet</display-name>
    <servlet-name>ApplyForLeaveByEmployeeServlet</servlet-name>
    <servlet-class>net.cew.controller.ApplyForLeaveByEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyForLeaveByEmployeeServlet</servlet-name>
    <url-pattern>/ApplyForLeaveByEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalculateNoOfDaysServlet</display-name>
    <servlet-name>CalculateNoOfDaysServlet</servlet-name>
    <servlet-class>net.cew.controller.CalculateNoOfDaysServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculateNoOfDaysServlet</servlet-name>
    <url-pattern>/CalculateNoOfDaysServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMessageByManagerServlet</display-name>
    <servlet-name>SendMessageByManagerServlet</servlet-name>
    <servlet-class>net.cew.controller.SendMessageByManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMessageByManagerServlet</servlet-name>
    <url-pattern>/SendMessageByManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMessageSendByManagerServlet</display-name>
    <servlet-name>ViewMessageSendByManagerServlet</servlet-name>
    <servlet-class>net.cew.controller.ViewMessageSendByManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMessageSendByManagerServlet</servlet-name>
    <url-pattern>/ViewMessageSendByManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetManagerUsernameServlet</display-name>
    <servlet-name>GetManagerUsernameServlet</servlet-name>
    <servlet-class>net.cew.controller.GetManagerUsernameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetManagerUsernameServlet</servlet-name>
    <url-pattern>/GetManagerUsernameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewLeavesByManagerServlet</display-name>
    <servlet-name>ViewLeavesByManagerServlet</servlet-name>
    <servlet-class>net.cew.controller.ViewLeavesByManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewLeavesByManagerServlet</servlet-name>
    <url-pattern>/ViewLeavesByManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewLeaveByManagerWithFormatServlet</display-name>
    <servlet-name>ViewLeaveByManagerWithFormatServlet</servlet-name>
    <servlet-class>net.cew.controller.ViewLeaveByManagerWithFormatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewLeaveByManagerWithFormatServlet</servlet-name>
    <url-pattern>/ViewLeaveByManagerWithFormatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcceptLeaveByManagerServlet</display-name>
    <servlet-name>AcceptLeaveByManagerServlet</servlet-name>
    <servlet-class>net.cew.controller.AcceptLeaveByManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptLeaveByManagerServlet</servlet-name>
    <url-pattern>/AcceptLeaveByManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewLeaveByEmpServlet</display-name>
    <servlet-name>ViewLeaveByEmpServlet</servlet-name>
    <servlet-class>net.cew.controller.ViewLeaveByEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewLeaveByEmpServlet</servlet-name>
    <url-pattern>/ViewLeaveByEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewManagerProfileServlet</display-name>
    <servlet-name>ViewManagerProfileServlet</servlet-name>
    <servlet-class>net.cew.controller.ViewManagerProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewManagerProfileServlet</servlet-name>
    <url-pattern>/ViewManagerProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditManagerProfileServlet</display-name>
    <servlet-name>EditManagerProfileServlet</servlet-name>
    <servlet-class>net.cew.controller.EditManagerProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditManagerProfileServlet</servlet-name>
    <url-pattern>/EditManagerProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMessageByManagerServlet</display-name>
    <servlet-name>ViewMessageByManagerServlet</servlet-name>
    <servlet-class>net.cew.controller.ViewMessageByManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMessageByManagerServlet</servlet-name>
    <url-pattern>/ViewMessageByManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchTechnicalDroughtServlet</display-name>
    <servlet-name>FetchTechnicalDroughtServlet</servlet-name>
    <servlet-class>net.cew.controller.FetchTechnicalDroughtServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchTechnicalDroughtServlet</servlet-name>
    <url-pattern>/FetchTechnicalDroughtServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTechnicalDroughtsServlet</display-name>
    <servlet-name>AddTechnicalDroughtsServlet</servlet-name>
    <servlet-class>net.cew.controller.AddTechnicalDroughtsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTechnicalDroughtsServlet</servlet-name>
    <url-pattern>/AddTechnicalDroughtsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>net.cew.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBulletinServlet</display-name>
    <servlet-name>ViewBulletinServlet</servlet-name>
    <servlet-class>net.cew.controller.ViewBulletinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBulletinServlet</servlet-name>
    <url-pattern>/ViewBulletinServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InboxServlet</display-name>
    <servlet-name>InboxServlet</servlet-name>
    <servlet-class>net.cew.controller.InboxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InboxServlet</servlet-name>
    <url-pattern>/InboxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewInboxMessageServlet</display-name>
    <servlet-name>ViewInboxMessageServlet</servlet-name>
    <servlet-class>net.cew.controller.ViewInboxMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewInboxMessageServlet</servlet-name>
    <url-pattern>/ViewInboxMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SentItemsServlet</display-name>
    <servlet-name>SentItemsServlet</servlet-name>
    <servlet-class>net.cew.controller.SentItemsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SentItemsServlet</servlet-name>
    <url-pattern>/SentItemsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewSentMessageServlet</display-name>
    <servlet-name>ViewSentMessageServlet</servlet-name>
    <servlet-class>net.cew.controller.ViewSentMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSentMessageServlet</servlet-name>
    <url-pattern>/ViewSentMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckMessageServlet</display-name>
    <servlet-name>CheckMessageServlet</servlet-name>
    <servlet-class>net.cew.controller.CheckMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckMessageServlet</servlet-name>
    <url-pattern>/CheckMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventDescriptionServlet</display-name>
    <servlet-name>EventDescriptionServlet</servlet-name>
    <servlet-class>net.cew.controller.EventDescriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventDescriptionServlet</servlet-name>
    <url-pattern>/EventDescriptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewEventsForModify</display-name>
    <servlet-name>ViewEventsForModify</servlet-name>
    <servlet-class>net.cew.controller.ViewEventsForModify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEventsForModify</servlet-name>
    <url-pattern>/ViewEventsForModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewModifyEventsServlet</display-name>
    <servlet-name>ViewModifyEventsServlet</servlet-name>
    <servlet-class>net.cew.controller.ViewModifyEventsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewModifyEventsServlet</servlet-name>
    <url-pattern>/ViewModifyEventsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPicServlet</display-name>
    <servlet-name>AddPicServlet</servlet-name>
    <servlet-class>net.cew.controller.AddPicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPicServlet</servlet-name>
    <url-pattern>/AddPicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProfilePic</display-name>
    <servlet-name>GetProfilePic</servlet-name>
    <servlet-class>net.cew.controller.GetProfilePic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProfilePic</servlet-name>
    <url-pattern>/GetProfilePic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDefaultPicServlet</display-name>
    <servlet-name>AddDefaultPicServlet</servlet-name>
    <servlet-class>net.cew.controller.AddDefaultPicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDefaultPicServlet</servlet-name>
    <url-pattern>/AddDefaultPicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTechnicalDroughtsPicServlet</display-name>
    <servlet-name>GetTechnicalDroughtsPicServlet</servlet-name>
    <servlet-class>net.cew.controller.GetTechnicalDroughtsPicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTechnicalDroughtsPicServlet</servlet-name>
    <url-pattern>/GetTechnicalDroughtsPicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyVacancyServlet</display-name>
    <servlet-name>ModifyVacancyServlet</servlet-name>
    <servlet-class>net.cew.controller.ModifyVacancyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyVacancyServlet</servlet-name>
    <url-pattern>/ModifyVacancyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MaximumLeaveServlet</display-name>
    <servlet-name>MaximumLeaveServlet</servlet-name>
    <servlet-class>net.cew.controller.MaximumLeaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MaximumLeaveServlet</servlet-name>
    <url-pattern>/MaximumLeaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyForLeaveServlet</display-name>
    <servlet-name>ApplyForLeaveServlet</servlet-name>
    <servlet-class>net.cew.controller.ApplyForLeaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyForLeaveServlet</servlet-name>
    <url-pattern>/ApplyForLeaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMessageServlet</display-name>
    <servlet-name>DeleteMessageServlet</servlet-name>
    <servlet-class>net.cew.controller.DeleteMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMessageServlet</servlet-name>
    <url-pattern>/DeleteMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSentItemServlet</display-name>
    <servlet-name>DeleteSentItemServlet</servlet-name>
    <servlet-class>net.cew.controller.DeleteSentItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSentItemServlet</servlet-name>
    <url-pattern>/DeleteSentItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDonorServlet</display-name>
    <servlet-name>ViewDonorServlet</servlet-name>
    <servlet-class>net.cew.controller.ViewDonorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDonorServlet</servlet-name>
    <url-pattern>/ViewDonorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MobileValidityServlet</display-name>
    <servlet-name>MobileValidityServlet</servlet-name>
    <servlet-class>net.cew.controller.MobileValidityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MobileValidityServlet</servlet-name>
    <url-pattern>/MobileValidityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadCareerServlet</display-name>
    <servlet-name>UploadCareerServlet</servlet-name>
    <servlet-class>net.cew.controller.UploadCareerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadCareerServlet</servlet-name>
    <url-pattern>/UploadCareerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchImage</display-name>
    <servlet-name>FetchImage</servlet-name>
    <servlet-class>net.cew.controller.FetchImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchImage</servlet-name>
    <url-pattern>/FetchImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadServlet</display-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>net.cew.controller.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileDownloadServlet</display-name>
    <servlet-name>FileDownloadServlet</servlet-name>
    <servlet-class>net.cew.controller.FileDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDownloadServlet</servlet-name>
    <url-pattern>/FileDownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCareerFileServlet</display-name>
    <servlet-name>ShowCareerFileServlet</servlet-name>
    <servlet-class>net.cew.controller.ShowCareerFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCareerFileServlet</servlet-name>
    <url-pattern>/ShowCareerFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CareerTO</display-name>
    <servlet-name>CareerTO</servlet-name>
    <servlet-class>net.cew.model.to.CareerTO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CareerTO</servlet-name>
    <url-pattern>/CareerTO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadPicsServlet</display-name>
    <servlet-name>UploadPicsServlet</servlet-name>
    <servlet-class>net.cew.controller.UploadPicsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadPicsServlet</servlet-name>
    <url-pattern>/UploadPicsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownLoadActualFileServlet</display-name>
    <servlet-name>DownLoadActualFileServlet</servlet-name>
    <servlet-class>net.cew.controller.DownLoadActualFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownLoadActualFileServlet</servlet-name>
    <url-pattern>/DownLoadActualFileServlet</url-pattern>
  </servlet-mapping>
</web-app>